<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'tasks:index' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'tasks:tasks-list' %}">Tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'tasks:workers-list' %}">Workers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'tasks:position-list' %}">Position</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'tasks:tasks-type-list' %}">Task Types</a>
  </li>
</ul>
