<ul class="nav flex-column">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <form action="{% url 'logout' %}" method="post" class="ml-3">
      {% csrf_token %}
      <li class="list-group-item"><button type="submit" class="btn btn-link">Logout</button></li>
    </form>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item">
    <a class="nav-link" href="{% url 'tasks:index' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'tasks:tasks-list' %}">Tasks</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'tasks:workers-list' %}">Workers</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'tasks:position-list' %}">Position</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'tasks:tasks-type-list' %}">Task Types</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'tasks:tags-list' %}">Tag</a>
  </li>
</ul>
