{% extends "base.html" %}
{% block content %}
  <ul>
    <li>
      Number of tasks: {{ num_tasks }}
    </li>
    <li>
      Number of workers: {{ num_workers }}
    </li>
    <li>
      Number of positions: {{ num_positions }}
    </li>
    <li>
      Number of task types: {{ num_task_types }}
    </li>
    <li>
      Number of tags: {{ num_tags }}
    </li>
  </ul>
  <p>You have visited this page
    {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}
