{% extends "base.html" %}

{% block content %}
  <h2>Positions</h2>
  <a href="{% url 'tasks:position-create' %}" class="btn btn-primary mb-3">Create Position</a>
  <form method="get" action="{% url 'tasks:position-list' %}" class="mb-3">
    <div class="input-group">
      <input type="text" name="name" value="{{ search_value }}" class="form-control" placeholder="Search position">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </div>
    </div>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for position in positions_list %}
        <tr>
          <td>{{ position.name }}</td>
          <td>
            <a href="{% url 'tasks:position-update' position.id %}" class="btn btn-sm btn-info">Update</a>
            <a href="{% url 'tasks:position-delete' position.id %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "includes/pagination.html" %}
{% endblock %}
