{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block title %} {{ object|yesno:"Update, Create" }} Position {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>

    <div class="section-header pb-5 bg-primary text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <h1 class="display-3 mb-4">{{ object|yesno:"Update, Create" }} Position</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-form-details section-md">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <form class="form-details" action="" method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-primary mt-3" type="submit" value="Submit">
              <a href="{% url 'tasks:position-list' %}" class="btn btn-outline-dark mt-3">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
