{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Tasks</h2>
        <a href="{% url 'tasks:tasks-create' %}" class="btn btn-primary mt-3">Create</a>
        <ul class="list-group mt-3">
            {% for task in tasks_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'tasks:tasks-detail' task.id %}">
                            {{ task.name }}
                        </a>
                        - {{ task.description }}
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{% url 'tasks:tasks-update' task.id %}" class="btn btn-info btn-sm">Update</a>
                        <a href="{% url 'tasks:tasks-delete' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% include "includes/pagination.html" %}
    </div>
{% endblock %}
