{% extends "base.html" %}

{% block content %}
  <h2>Tasks</h2>
  <a href="{% url 'tasks:tasks-create' %}" class="btn btn-primary mb-3">Create Task</a>
  <form method="get" action="{% url 'tasks:tasks-list' %}" class="mb-3">
    <div class="input-group">
      <input type="text" name="name" value="{{ search_value }}" class="form-control" placeholder="Search task">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </div>
    </div>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Deadline</th>
        <th scope="col">Priority</th>
        <th scope="col">Is completed</th>
        <th scope="col">Task Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks_list %}
        <tr>
          <td><a href="{% url 'tasks:tasks-detail' task.id %}">{{ task.name }}</a></td>
          <td>{{ task.description }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.is_completed }}</td>
          <td>{{ task.task_type.name }}</td>
          <td>
            <a href="{% url 'tasks:tasks-update' task.id %}" class="btn btn-sm btn-info">Update</a>
            <a href="{% url 'tasks:tasks-delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "includes/pagination.html" %}
{% endblock %}
