{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Workers</h2>
    <div class="mb-3">
        <a href="{% url 'tasks:workers-create' %}" class="btn btn-primary">Create Worker</a>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for worker in workers_list %}
                <tr>
                    <td><a href="{% url 'tasks:workers-detail' worker.id %}">{{ worker.username }}</a></td>
                    <td>{{ worker.first_name }}</td>
                    <td>{{ worker.last_name }}</td>
                    <td>{{ worker.email }}</td>
                    <td>{{ worker.position.name }}</td>
                    <td>
                        <a href="{% url 'tasks:workers-update' worker.id %}" class="btn btn-sm btn-warning">Update</a>
                        <a href="{% url 'tasks:workers-delete' worker.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "includes/pagination.html" %}
</div>
{% endblock %}
